.headimg {
    z-index: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.main {
    background-color: black;
    padding-left: 5%;
    padding-right: 5%;
}

.gif  {
    text-align: center;
    margin-top: 20px;
}

.hr {
    color: gray;
}

.data {
    text-align: center;
}

.info {
    background-color: #161b22;
    border-radius: 6px;
    padding: 10px;
}


.pl_ent {
    color: #7ee787;
    font-family: Dina;
}

.pl_s {
    color: #a5d6ff;
    font-family: Dina;
}


.pl_pds {
    font-family: Dina;
    color: white;
}

.pl_pds1 {
    font-family: Dina;
    color: white;
    padding-left: 10px;
}

.navdiv {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
}
.navdiv img:hover{
    transform: scale(1.2);
    cursor: pointer;
}

@media only screen and (min-width:800px) {

    .socialmedia {
        padding: 5px;
    }

    .head2 {
        
    }

    .head1 {
        text-align: center;
    }

    .image {
        display: flex;
        justify-content: center;
        scale: 1;
    }
}

@media only screen and (max-width:799px) {
    .socialmedia {
        padding: 5px;
    }

    .head2 {
        text-align: center;
        font-size: medium;
    }

    .head1 {
        text-align: center;
        font-size: x-large;
    }

    .image {
        display: flex;
        justify-content: center;
        scale: 0.6;
    }
}